
*{
    padding: 0;
    margin: 0;
    color: white;
}

body {
  /* set background for body */
  background-image: url('./imagenes/fondo.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
  background-position: center; /* Posición de la imagen centrada */
  background-attachment: fixed;
}


/*
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 50px;
 }
 */

nav li {
  color:white !important;
}

.menu{
  display: none;
}

img {
    width: 150px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    
}

.products{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.product {  
    text-align: center;
    border: 1px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /* display: inline-block;*/
    width: 30%; /* Ancho para cada producto */
    vertical-align: top; /* Alinear productos en la parte superior */

    
}

.product img {
    width: 200px;
    height: 250px;
    /*display: block;*/
    /* margin: 200px;*/
    margin-bottom: 10px;

    /*shadow*/
    -webkit-box-shadow: 14px 14px 66px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 14px 66px -6px rgba(0,0,0,0.75);
box-shadow: 14px 14px 66px -6px rgba(0,0,0,0.75);
}
h2{
    text-align: center;
    color: white;
    padding: 20px;
 }
 p{
    text-align: center;
    float:none;
    color: white;
    padding: 20px;
 }
 .search-container {
    display: flex;
    align-items: center;
    
} 

a{
  text-decoration: none;
}
a{
  color:white !important; 
}

a:hover{
 color: #d4e20b !important;
}

.search-input {
    background-color: black;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    left: 50;
    top: 50;
    transform: translate(450%,-120%);
    padding: 10px;
}

.search-button {
    padding: 8px 16px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    
}

.search-button:hover {
    background-color: #0056b3; /* Cambiar el color de fondo al pasar el cursor sobre el botón */
}

  i{
    text-align: center;
    font-size: 25px;
    color: black;    
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: .3s ease;
  }

  .iconos-redes{
    background-color: white;
    color: black;
    padding: auto;
  }

.fa-magnifying-glass:hover{
  background-color: white;
  color: black; 
}


.fa-facebook:hover{
    background-color: blue;
    color: white;
    box-shadow: 0 0 15px blue;
    box-shadow: 0 0 45px blue;
    box-shadow: 0 0 75px blue;
    box-shadow: 0 0 115px blue;
    transform: translate(20%, 15%);
}


  .fa-youtube:hover{
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red;
    box-shadow: 0 0 45px red;
    box-shadow: 0 0 75px red;
    box-shadow: 0 0 115px red;
    transform: translate(20%, 15%);

  }

  

  .fa-twitter:hover{
    background-color: #1DA1F2;
    color: white;
    box-shadow: 0 0 15px #1DA1F2;
    box-shadow: 0 0 45px #1DA1F2;
    box-shadow: 0 0 75px #1DA1F2;
    box-shadow: 0 0 115px #1DA1F2;
    transform: translate(20%, 15%);

  }

  .fa-instagram:hover{
    background-color: #cf2972;
    color: white;
    box-shadow: 0 0 15px pink;
    box-shadow: 0 0 45px pink;
    box-shadow: 0 0 75px pink;
    box-shadow: 0 0 115px pink;
    transform: translate(20%, 15%);

  }
  
  .fa-tiktok:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 15px red;
    box-shadow: 0 0 45px red;
    box-shadow: 0 0 75px red;
    box-shadow: 0 0 115px red;
    transform: translate(20%, 15%);
  }

  .fa-paypal:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 15px red;
    box-shadow: 0 0 45px red;
    box-shadow: 0 0 75px red;
    box-shadow: 0 0 115px red;
    transform: translate(20%, 15%);
  }
    
       
    .fa-cart-shopping:hover{
      background-color: white;
      color: black;
      box-shadow: 0 0 15px ;
      box-shadow: 0 0 45px ;
      box-shadow: 0 0 75px ;
      box-shadow: 0 0 115px;
      transform: translate(20%, 15%);
      
    }      
